body
{
  font-family: Helvetica;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.container{
  background-color: #a0a0a0;
  height: 100vh;
}

.templateBalloon {
  width: 350px;
  height: 500px;
  overflow: hidden;
  margin: auto;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}
.templateBalloonHeader {
  color: #fff;
  background-color: #f68570;
  font-size: 11px;
  padding: 10px 23px;
  width: 304px;
}
.templateBalloonBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 36px);
  padding: 12px 18px;
  margin-top: 10px;
  color: #404040;
  height: calc(100% - 64px);
}
#listReviewForAddress{
  height: 125px;
  max-height: 125px;
  overflow-y: auto;
}
.listReviewForAddress__item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 10px;
}
.btn {
  border-radius: 12px;
  color: #fff;
  background-color: #f68570;
  padding: 0 23px;
  text-decoration: none;
  float: right;
  line-height: 23px;
  border: none;
  margin-top: 10px;
}
.btn:hover {
  background-color: #d26450;
}
#close {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.input {
  padding: 0 15px;
  line-height: 23px;
  border-radius: 16px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  color: #929292;
  display: block;
  border: 1px solid #929292;
}
input.input {
  margin-bottom: 10px;
}

.form__title {
  color: #f6856e;
  margin: 10px 0;
  font-size: 14px;
}
form {
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    margin-top: 20px;
}
